html, body {
  margin:0px 0px; padding:0px;
  text-align:center;
}
.slider { 
  margin: 10px; 
  display: inline-block; 
  vertical-align: top;
}
body {
  font: 11pt 'Arial', 'Lucidia Sans Unicode';
  -webkit-font-smoothing: antialiased;
}

#visual {
  margin-top: 20px;
}
#eq-canvas {
  -webkit-box-reflect: below 5px -webkit-linear-gradient(top, transparent, transparent 50%, rgba(255,255,255,0.2));
}

#control {
  position: absolute;
  top:0;
  left:0;
  z-index: 10;
}

#play-control {
}
    #player .btn {
        width: 128px;
        height: 128px;
        line-height: 128px;
    }
    .btn.play {
        background-image: url("../img/play.png");
    }
    .btn.pause {
        background-image: url("../img/pause.png");
    }
#gl-canvas {
 display: none;
}

#loading {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  text-align: center;
}
    #loading img {
        margin-top: 250px;
    }