html, body, ul, ol, li, p, div {
  margin:0px 0px; padding:0px;
}
.slider { 
  margin: 10px; 
  display: inline-block; 
  vertical-align: top;
}
body {
  font: 11pt 'Arial', 'Lucidia Sans Unicode';
  -webkit-font-smoothing: antialiased;
}

/* control */
#control {
  position: absolute;
  top:0;
  left:0;
  z-index: 10;
  width: 100%;
  padding-left: 20px;
  border-bottom: 1px dashed #D4D4D4;
}

#player {
  float: left;
}
    #player .btn {
        width: 128px;
        height: 128px;
        line-height: 128px;
        cursor: pointer;
    }
    .btn.play {
        background-image: url("../img/play.png");
    }
    .btn.pause {
        background-image: url("../img/pause.png");
    }
#playlist {
    float: left;
    margin-left: 20px;
    text-align: left;
}
   	/* -------------------------------------- */
    ol{
		counter-reset: li;
		list-style: none;
		*list-style: decimal;
		font: 15px 'trebuchet MS', 'lucida sans';
		padding: 0;
		text-shadow: 0 1px 0 rgba(255,255,255,.5);
	}
	
	ol li {
	    cursor: pointer;
	}

	
	/* -------------------------------------- */			
	.rectangle-list a{
    	position: relative;
    	display: block;
    	padding: .4em .4em .4em .8em;
    	*padding: .4em;
    	margin: .5em 0 .5em 2.5em;
    	background: #ddd;
    	color: #444;
    	text-decoration: none;
    	-webkit-transition: all .3s ease-out;
    	-moz-transition: all .3s ease-out;
    	-ms-transition: all .3s ease-out;
    	-o-transition: all .3s ease-out;
    	transition: all .3s ease-out;	
    }

    .rectangle-list a:hover{
    	background: #eee;
    }	

    .rectangle-list a:before{
    	content: counter(li);
    	counter-increment: li;
    	position: absolute;	
    	left: -2.5em;
    	top: 50%;
    	margin-top: -1em;
    	background: #fa8072;
    	height: 2em;
    	width: 2em;
    	line-height: 2em;
    	text-align: center;
    	font-weight: bold;
    }

    .rectangle-list a:after{
    	position: absolute;	
    	content: '';
    	border: .5em solid transparent;
    	left: -1em;
    	top: 50%;
    	margin-top: -.5em;
    	-webkit-transition: all .3s ease-out;
    	transition: all .3s ease-out;				
    }

    .rectangle-list a:hover:after{
    	left: -.5em;
    	border-left-color: #fa8072;				
    }
        #playlist ol li.active a { background-color: #bbb; color: #fff;}
        
#visual-section {
    float: left;
    margin-left: -20px;
}
    #visual-section ul {
        float: left;
        list-style: none;
        font: 15px 'trebuchet MS', 'lucida sans';
		padding: 0;
		text-shadow: 0 1px 0 rgba(255,255,255,.5);
    }
        #visual-section ul li {
            cursor: pointer;
            padding: .4em .4em .4em .8em;
        	*padding: .4em;
        	margin: .5em 0 .5em 2.5em;
        	background: #ddd;
        	color: #444;
        	-webkit-transition: all .3s ease-out;
        	transition: all .3s ease-out;
        }
        #visual-section ul li.active { background-color: #bbb; color: #fff;}
        #visual-section ul li:hover { background-color: #eee;}
        #visual-section ul li:before {
            position: absolute;	
        	left: -2.5em;
        	top: 50%;
        	margin-top: -1em;
        	background: skyBlue;
        	height: 2em;
        	width: 2em;
        	line-height: 2em;
        }
        
#eq-section {
    float: left;
    margin-left: -20px;
}
    #eq-control {
        float: left;
        margin-left: 2.5em;
    }
    #eq-switch {
        float: left;
        padding-top: 20px;
        width: 140px;
        text-align: center;
    }
        .eq-turn {
            cursor: pointer;
            padding: 5px 15px 5px 15px;
            font-size: 1.2em;
            width: 80px;
            text-align: center;
            color: #444;
            background-color: #87ceeb;
            text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
            border-radius: 4px;
        }
        .eq-turn.active {
            -webkit-box-shadow:2px 2px 6px #999 inset, -2px -2px 6px #999 inset;
    	 }
        .eq-turn:hover { background: #87cffb;}
    #equalizer {
        padding-top: 10px;
        float: left;
    }

/* visual */
#visual {
  margin-top: 70px;
  text-align: center;
}
#eq-canvas {
    -webkit-box-reflect: below 5px -webkit-linear-gradient(top, transparent, transparent 50%, rgba(255,255,255,0.2));
    position: absolute;
    bottom: 50px;
    left: 0;
}
#waveform-canvas {
    position: absolute;
    bottom: 250px;
    left: 0;
}
#gl-canvas {
 display: none;
}
#loading {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  text-align: center;
}
    #loading img {
        margin-top: 300px;
    }
.section-title {
  font-size: 2em;
  float:left;
  -webkit-transform:rotate(270deg) translate(-56px,80px);
}
.clear {
  clear: both;
}